# Ejercicio 1: Transformar cadenas

In [380]:
# Dividiendo el texto
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text_div = text.split('. ' )
text_div

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 'On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [381]:
# palabras clave
palabras_clave = ["satellite", "average", "temperature", "distance"]

In [379]:
# Bucle para imprimir datos sobre la Luna relacionados con las palabras clave

for sentence in text_div:
    for key_word in palabras_clave:
        if key_word in sentence:
            print(sentence)
            break

The Moon is Earth's only satellite
On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [335]:
# ciclo para cambiar C a Celsius
caracter_clave = ["C"]
for sentence in text_div:
    for key_word in caracter_clave:
        if key_word in sentence:
            print(sentence.replace('C', 'Celsius'))
            break

The highest daylight temperature of the Moon is 127 Celsius.

# Ejercicio 2: Formateado de cadenas

In [343]:
# Datos con los que vamos a trabajar

planeta = "Tierra"
gravedad  = round(0.00162*1000, 2)
nombre = "Luna"

# Creamos el t√≠tulo
title = f'datos de gravedad sobre: {nombre}'

In [344]:
# creamos plantilla
informacion = f"""{'*'*85}
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2"""

In [345]:
# imprimimos titulo y datos
datos_gravedad = f"""{title.title()}
{informacion}"""
print(datos_gravedad)

Datos De Gravedad Sobre: Luna
*************************************************************************************
Nombre del planeta: Tierra
Gravedad en Luna: 1.62 m/s2

In [346]:
#plantilla de prueba de nuevos datos fallida/ da los datos de Luna

planeta = "Marte"
gravedad = round(0.00143*1000, 2)
nombre = "Gaminedes"

print(informacion)

*************************************************************************************
Nombre del planeta: Tierra
Gravedad en Luna: 1.62 m/s2

In [374]:
# platilla de prueba para ingresar datos de otro planeta usando .format()


planeta = "Marte"
gravedad  = round(0.00143*1000, 2)
nombre = "Ganimedes"

nueva_informacion = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2"""

print(nueva_informacion.format(nombre="Ganimedes", planeta="Marte", gravedad= round(0.00143*1000, 2)))

Datos de Gravedad sobre: Ganimedes
-------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganimedes: 1.43 m/s2

In [357]:
# platilla de prueba para ingresar datos de otro planeta/ otro modo de resolverlo

planeta = "Marte"
gravedad  = round(0.00143*1000, 2)
nombre = "Ganimedes"

title = f'datos de gravedad sobre: {nombre}'
informacion = f"""{'*'*85}
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad * 1000} m/s2"""

datos_gravedad = f"""{title.title()}
{informacion}"""
print(datos_gravedad)

Datos De Gravedad Sobre: Ganimedes
*************************************************************************************
Nombre del planeta: Marte
Gravedad en Ganimedes: 1430.0 m/s2