Ejercicio 1: Creación de diccionarios de Python

In [11]:
#creación de diccionario

planet = {
    'name' : 'Mars',
    'moons' : 2
}

In [12]:
#muestra el nombre del planeta y el número de lunas que tiene
print(f'{planet["name"]} has {planet["moons"]} moons')

Mars has 2 moons

In [18]:
#agregar la clave circunferencia 

planet['circumference(km)'] = {
    'polar' : 133709,
    'equatorial' : 142984
    }

In [20]:
#imprime el nombre del planeta con su circunferncia polar
print(f"The polar circumference of {planet['name']} is: {planet['circumference(km)']['polar']} ")

The polar circumference of Mars is: 133709

Ejercicio 2: Programación dinámica con diccionarios

In [41]:
#planets and moons

planet_moons = {
    'mercury':0,
    'venus':0,
    'earth':1,
    'mars':2,
    'jupiter':79,
    'saturn':82,
    'uranus':27,
    'neptune':14,
    'pluto':5,
    'haumea':2,
    'makemake':1,
    'eris':1
}

#almacenamos variable moons
moons=planet_moons.values()

#obtenemos el total de planetas
planets=len(planet_moons.keys())

print("there are: ", planets, "planets")

there are:  12 planets

In [39]:
#total de lunas
total_moons=0
for value in moons:
    total_moons=total_moons + value
print(f'There are {total_moons} moons in the solar system')

There are 214 moons in the solar system

In [49]:
#promedio de lunas

average = int(total_moons/planets)
print(f"There are {average} moons on average in the solar system")

There are 17 moons on average in the solar system